<div class="recipe-card">
  <a href="/recipes/{{_id}}"><h2>{{title}}</h2></a>
  <img class="recipe-card-img" src="{{photo}}" alt="photo">
  <span>Recipe by <a href="/{{author.username}}">{{author.username}}</a></span>
  {{>starRating rating=rating type="card-rate"}}
</div>
