<div class="r">
    <div class='receta'>
        <h1 class="nombrereceta">{{title}}</h1>
        <h1 class="imgreceta" style="height:200px;"><img src="{{photo}}" alt="{{title}}" width="200" height="200"></h1>
        {{> starRating}}

    </div>
    <div class="ingredientes">
        <h1>Ingredientes</h1>
        <ul>
            {{#each ingredients}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>
</div>
<div class="insco">
    <h1>Comentarios</h1>
    <h1>Instrucciones</h1>
</div>
<div class="inscocambio">
    {{#each comments}}
        <strong>{{author.username}}</strong>
        <p>{{text}}</p>
    {{/each}}
    <ol>
        {{#each directions}}
        <li>{{this}}</li>
        {{/each}}
    </ol>
</div>