<h2>All Recipes</h2>
{{#each recipesList}}
    <h2>{{title}}</h2>
    <a href="/recipes/detail/{{_id}}">detalles</a>
     <h4>{{category}}</h4>
    <h4>{{author}}</h4>
    <h4>Ingredients</h4>
    <ul>
        {{#each ingredients}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    <h4>Directions</h4>
    <ol>
        {{#each directions}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    <img src="{{photo}}" alt="">

{{/each}}