<div class="recipe-details-container">
  <div class="recipe-details-col">
    <div>
      <h1>{{title}}</h1>
      <img class="recipedetail-img" src="{{photo}}" alt="{{title}}">
      {{>starRating}}
      <h3>Recipe by <a class="body-link" href="/{{author.username}}">{{author.username}}</a></h3>
    </div>
    {{>detailsInfo ingredients=ingredients directions=directions}}
    {{#eq session.currentUser.username author.username}}
      <form class="recipe-author-tools" action="/recipes/{{id}}/delete" method="post">
        <a class="button" href="/recipes/{{id}}/edit">Edit Recipe</a>
        <button type="submit">Delete Recipe</button>
      </form>
    {{/eq}}
  </div>
  <div class="recipe-details-col">
    {{>detailsFeedback id=id}}
    <hr>
    {{>detailsComments comments=comments}}
  </div>
</div>
<script src="/js/calculateRating.js"></script>