<div class="recipe-details-container">
  <div class="recipe-details-col">
    <div>
      <h1>{{details.title}}</h1>
      <img class="recipe-details-img" src="{{details.photo}}" alt="{{details.title}}">
      {{>starRating rating=details.rating type="detail-rate"}}
      <p class="details-author">Recipe by <a class="body-link" href="/{{details.author.username}}">{{details.author.username}}</a></p>
    </div>
    {{>detailsInfo ingredients=details.ingredients directions=details.directions}}
    {{#eq session.currentUser.username details.author.username}}
      <form class="recipe-author-tools" action="/recipes/{{details._id}}/delete" method="post">
        <a class="button" href="/recipes/{{details._id}}/edit">Edit Recipe</a>
        <button type="submit">Delete Recipe</button>
      </form>
    {{/eq}}
  </div>
  <div class="recipe-details-col">
    {{>detailsFeedback id=details.id}}
    <hr>
    {{>detailsComments comments=comments}}
  </div>
</div>
<script src="/js/calculateRating.js"></script>